

.container {
    display: flex;

}

button {
    border: none;
    flex: 1 0 auto;
    font-size: 16px;
    margin: 0 2vw;
}

.container button::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: middle;
}